<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nmmpa.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.nmmpa.user.model.User">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_code" jdbcType="VARCHAR" property="userCode" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="head_img" jdbcType="VARCHAR" property="headImg" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="pass_word" jdbcType="VARCHAR" property="passWord" />
        <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="site_code" jdbcType="VARCHAR" property="siteCode" />
        <result column="user_status" jdbcType="INTEGER" property="userStatus" />
        <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id,
        user_code,
        user_name,
        head_img,
        tel,
        sex,
        pass_word,
        register_time,
        salt,
        site_code,
        user_status,
        is_delete,
        create_time,
        update_time
    </sql>
    <!-- 往表中插入一条数据 字段为空不插入 系统字段需要输入 -->
    <insert id="insert" parameterType="cn.nmmpa.user.model.User">
        insert into
            t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="headImg != null">
                head_img,
            </if>
            <if test="tel != null">
                tel,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="passWord != null">
                pass_word,
            </if>
            <if test="registerTime != null">
                register_time,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="siteCode != null">
                site_code,
            </if>
            <if test="userStatus != null">
                user_status,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="passWord != null">
                #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="siteCode != null">
                #{siteCode,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <!-- 往表中批量插入数据 系统字段需要输入 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into
            t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,
            user_code,
            user_name,
            head_img,
            tel,
            sex,
            pass_word,
            register_time,
            salt,
            site_code,
            user_status,
            is_delete,
            create_time,
            update_time,
        </trim>
        <foreach collection="list" item="item" open="values (" close=")" separator=" ), ( ">
            <trim suffixOverrides=",">
                #{item.id,jdbcType=BIGINT},
                #{item.userCode,jdbcType=VARCHAR},
                #{item.userName,jdbcType=VARCHAR},
                #{item.headImg,jdbcType=VARCHAR},
                #{item.tel,jdbcType=VARCHAR},
                #{item.sex,jdbcType=INTEGER},
                #{item.passWord,jdbcType=VARCHAR},
                #{item.registerTime,jdbcType=TIMESTAMP},
                #{item.salt,jdbcType=VARCHAR},
                #{item.siteCode,jdbcType=VARCHAR},
                #{item.userStatus,jdbcType=INTEGER},
                #{item.isDelete,jdbcType=INTEGER},
                #{item.createTime,jdbcType=TIMESTAMP},
                #{item.updateTime,jdbcType=TIMESTAMP},
            </trim>
        </foreach>
    </insert>
    <!-- 根据主键查询数据 所有数据 -->
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_user
        where
            id = #{id}
    </select>
    <!-- 根据主键修改数据 字段为空不修改 所有数据 -->
    <update id="updateById" parameterType="cn.nmmpa.user.model.User">
        update
            t_user
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                head_img = #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="tel != null">
                tel = #{tel,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="passWord != null">
                pass_word = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="registerTime != null">
                register_time = #{registerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="siteCode != null">
                site_code = #{siteCode,jdbcType=VARCHAR},
            </if>
            <if test="userStatus != null">
                user_status = #{userStatus,jdbcType=INTEGER},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where
            id = #{id,jdbcType=BIGINT}
    </update>
    <!-- 根据主键删除数据 物理删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        delete from
            t_user
        where
            id = #{id}
    </delete>
    <!-- 按条件查询 对象 -->
    <select id="queryConditionsToObject" parameterType="cn.nmmpa.user.model.User" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_user
        <where>
            <if test="id != null">
                 AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userCode != null">
                 AND user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                 AND user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="headImg != null">
                 AND head_img = #{headImg,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                 AND tel = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                 AND sex = #{sex,jdbcType=INTEGER}
            </if>
            <if test="passWord != null">
                 AND pass_word = #{passWord,jdbcType=VARCHAR}
            </if>
            <if test="registerTime != null">
                 AND register_time = #{registerTime,jdbcType=TIMESTAMP}
            </if>
            <if test="salt != null">
                 AND salt = #{salt,jdbcType=VARCHAR}
            </if>
            <if test="siteCode != null">
                 AND site_code = #{siteCode,jdbcType=VARCHAR}
            </if>
            <if test="userStatus != null">
                 AND user_status = #{userStatus,jdbcType=INTEGER}
            </if>
            <if test="isDelete != null">
                 AND is_delete = #{isDelete,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                 AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                 AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <!-- 按条件查询 对象 -->
    <select id="queryConditionsToList" parameterType="cn.nmmpa.user.model.User" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from
            t_user
        <where>
            <if test="id != null">
                 AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userCode != null">
                 AND user_code = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                 AND user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="headImg != null">
                 AND head_img = #{headImg,jdbcType=VARCHAR}
            </if>
            <if test="tel != null">
                 AND tel = #{tel,jdbcType=VARCHAR}
            </if>
            <if test="sex != null">
                 AND sex = #{sex,jdbcType=INTEGER}
            </if>
            <if test="passWord != null">
                 AND pass_word = #{passWord,jdbcType=VARCHAR}
            </if>
            <if test="registerTime != null">
                 AND register_time = #{registerTime,jdbcType=TIMESTAMP}
            </if>
            <if test="salt != null">
                 AND salt = #{salt,jdbcType=VARCHAR}
            </if>
            <if test="siteCode != null">
                 AND site_code = #{siteCode,jdbcType=VARCHAR}
            </if>
            <if test="userStatus != null">
                 AND user_status = #{userStatus,jdbcType=INTEGER}
            </if>
            <if test="isDelete != null">
                 AND is_delete = #{isDelete,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                 AND create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                 AND update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <!--验证该站点下手机号是否注册-->
    <select id="checkTel" resultType="int">
        select
        count(1)
        from t_user where tel = #{tel,jdbcType=VARCHAR} AND site_code = #{siteCode,jdbcType=VARCHAR}
    </select>
</mapper>